<a href="https://colab.research.google.com/github/Phoenix7741/Machine-learning-/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [4]:
#Hope all the participants are treated the missing values in the HR_data used in the last inclass.
#The imputed version of the data have to be used for this exercise.
hrdata=pd.read_csv('https://raw.githubusercontent.com/tkseneee/Dataset/dd7313e0c6487acd9ed7cd32b786782c7a1d3885/HR_data.csv')
hrdata.head(2)

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Gender,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [5]:

missing_values = hrdata.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Age                  0
Workclass         2079
fnlwgt               0
Education            0
Education_Num        0
Martial_Status       0
Occupation        2087
Relationship         0
Race                 0
Gender               0
Capital_Gain         0
Capital_Loss         0
Hours_per_week       0
Country            656
Target               0
dtype: int64

In [6]:

numeric_data = hrdata.select_dtypes(include=[np.number])
print("Numeric columns:\n", numeric_data.head(2))

Numeric columns:
    Age  fnlwgt  Education_Num  Capital_Gain  Capital_Loss  Hours_per_week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13

In [7]:

ranges = numeric_data.max() - numeric_data.min()
print("Range of each numeric column:\n", ranges)

Range of each numeric column:
 Age                    73
fnlwgt            1472420
Education_Num          15
Capital_Gain        99999
Capital_Loss         4356
Hours_per_week         98
dtype: int64

In [8]:

print("\nComments on the need for scaling:")
for column, range_value in ranges.items():
    print(f"{column}: Range = {range_value}")

Comments on the need for scaling:
Age: Range = 73
fnlwgt: Range = 1472420
Education_Num: Range = 15
Capital_Gain: Range = 99999
Capital_Loss: Range = 4356
Hours_per_week: Range = 98

In [9]:

Age_mean = numeric_data['Age'].mean()
Age_std = numeric_data['Age'].std()
numeric_data['Age_standard_scaled'] = (numeric_data['Age'] - Age_mean) / Age_std
print(numeric_data['Age_standard_scaled'].head())

0    0.029050
1    0.834352
2   -0.044160
3    1.053980
4   -0.776253
Name: Age_standard_scaled, dtype: float64

In [10]:

# Min, Max, Mean, and Standard Deviation of the manually scaled 'Area' column
scaled_Age_min = numeric_data['Age_standard_scaled'].min()
scaled_Age_max = numeric_data['Age_standard_scaled'].max()
scaled_Age_mean = numeric_data['Age_standard_scaled'].mean()
scaled_Age_std = numeric_data['Age_standard_scaled'].std()

print(f"Min: {scaled_Age_min}")
print(f"Max: {scaled_Age_max}")
print(f"Mean: {scaled_Age_mean}")
print(f"Standard Deviation: {scaled_Age_std}")

Min: -1.5815552128571506
Max: 3.762724485511142
Mean: 4.843681145570809e-17
Standard Deviation: 1.0

In [11]:

from sklearn.preprocessing import StandardScaler

# Standard scale all numeric columns using Sklearn
scaler = StandardScaler()
scaled_data = scaler.fit_transform(numeric_data)

# Convert back to DataFrame for easier handling
scaled_df = pd.DataFrame(scaled_data, columns=numeric_data.columns)
print(scaled_df.head(2))

        Age    fnlwgt  Education_Num  Capital_Gain  Capital_Loss  \
0  0.029050 -1.062152       1.134136      0.149031     -0.216957
1  0.834363 -1.007377       1.134136     -0.146177     -0.216957

   Hours_per_week  Age_standard_scaled
0       -0.034641             0.029050
1       -2.218354             0.834363

In [12]:

# Check if mean and standard deviation of all scaled columns are 0 and 1 respectively
scaled_means = scaled_df.mean()
scaled_stds = scaled_df.std()

print("Means of scaled columns:")
print(scaled_means)
print("\nStandard deviations of scaled columns:")
print(scaled_stds)

Means of scaled columns:
Age                    4.551893e-17
fnlwgt                 1.279977e-16
Education_Num         -2.373209e-17
Capital_Gain          -6.370705e-17
Capital_Loss          -6.234537e-17
Hours_per_week         8.996797e-17
Age_standard_scaled    4.007222e-17
dtype: float64

Standard deviations of scaled columns:
Age                    1.000014
fnlwgt                 1.000014
Education_Num          1.000014
Capital_Gain           1.000014
Capital_Loss           1.000014
Hours_per_week         1.000014
Age_standard_scaled    1.000014
dtype: float64

In [13]:

# Inverse transform the scaled data back to original form
inversed_data = scaler.inverse_transform(scaled_df)
inversed_df = pd.DataFrame(inversed_data, columns=numeric_data.columns)

print(inversed_df.head(2))

    Age   fnlwgt  Education_Num  Capital_Gain  Capital_Loss  Hours_per_week  \
0  39.0  77516.0           13.0        2174.0           0.0            40.0
1  50.0  83311.0           13.0           0.0           0.0            13.0

   Age_standard_scaled
0             0.029050
1             0.834352

In [14]:

from sklearn.preprocessing import MinMaxScaler

# Apply Min-Max scaling
min_max_scaler = MinMaxScaler()
min_max_scaled_data = min_max_scaler.fit_transform(numeric_data)

# Convert back to DataFrame
min_max_scaled_df = pd.DataFrame(min_max_scaled_data, columns=numeric_data.columns)

print(min_max_scaled_df.head(2))

# Print Min and Max values of the scaled data
min_max_scaled_min = min_max_scaled_df.min()
min_max_scaled_max = min_max_scaled_df.max()

print("\nMin values of scaled columns:")
print(min_max_scaled_min)
print("\nMax values of scaled columns:")
print(min_max_scaled_max)

        Age    fnlwgt  Education_Num  Capital_Gain  Capital_Loss  \
0  0.301370  0.044302            0.8       0.02174           0.0
1  0.452055  0.048238            0.8       0.00000           0.0

   Hours_per_week  Age_standard_scaled
0        0.397959             0.301370
1        0.122449             0.452055

Min values of scaled columns:
Age                    0.0
fnlwgt                 0.0
Education_Num          0.0
Capital_Gain           0.0
Capital_Loss           0.0
Hours_per_week         0.0
Age_standard_scaled    0.0
dtype: float64

Max values of scaled columns:
Age                    1.0
fnlwgt                 1.0
Education_Num          1.0
Capital_Gain           1.0
Capital_Loss           1.0
Hours_per_week         1.0
Age_standard_scaled    1.0
dtype: float64

In [15]:

from sklearn.preprocessing import RobustScaler

# Apply Robust scaling
robust_scaler = RobustScaler()
robust_scaled_data = robust_scaler.fit_transform(numeric_data)

# Convert back to DataFrame
robust_scaled_df = pd.DataFrame(robust_scaled_data, columns=numeric_data.columns)

print(robust_scaled_df.head(2))

    Age    fnlwgt  Education_Num  Capital_Gain  Capital_Loss  Hours_per_week  \
0  0.10 -0.841482            1.0        2174.0           0.0             0.0
1  0.65 -0.793073            1.0           0.0           0.0            -5.4

   Age_standard_scaled
0                 0.10
1                 0.65